body {
	padding-top: 60px;
	background: #E8CBC0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}
nav {
  .navbar-brand {font-size: 30px;}
	.navbar-toggle {margin: 13px 15px 13px 0;}
	a {
		font-size: 18px;
		padding-bottom: 20px !important;
		padding-top: 20px !important;
    transition: all 0.3s ease;
	}
}

a{
	color:#fff;
}

nav.navbar.shrink {
	min-height: 35px;
  .navbar-brand {font-size: 25px;}
  a {
    font-size: 15px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
  }
  .navbar-toggle {
    margin: 8px 15px 8px 0;
    padding: 4px 5px;
  }
}
.search{
	border-radius:15px;
	margin:0px 10px 40px 90px;
	size:20px;
	padding:10px;
	text-decoration: none;
    color: #fff;
    font-size: 2rem;
	color: #00E676;
}
h1{
	text-align:center;
	font-size:70px;
	padding:30px 10px 70px 10px;
}
h2{
	margin:10px 50px 10px 50px;
}
.search1{
	border-radius:15px;
	margin:0px 20px 30px 90px;
	size:20px;
	padding:10px;
	text-decoration: none;
    color: #fff;
    font-size: 2rem;
	color: #00E676;
}
.search2{
	margin:0px 20px 30px 90px;
	size:20px;
	background:black;
	color:white;
}
.divv{
	margin:auto;
}
.cart{
	margin:5px 10px 5px 34px;
}